/* Base styles */
.flex-container {
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  padding: 1em;
}

p {
  color: #fff;
  font-size: 16px;
}

/* Custom styles */
.flex-container {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  gap: 1em;
}

.content {
  flex: 1;
}
