.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

aside {
  flex: 1;
}

section {
  flex: 3;
}

@media screen and (max-width: 650px) {
  main {
    flex-direction: column;
    order: -1;
  }
}
