/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-item {
  padding: 10px;
  font: 900 60px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.item-1 {
  background-image: linear-gradient(45deg, #ff8177, #cf556c);
}

.item-2 {
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
}

.item-3 {
  background: linear-gradient(45deg, #a6c0fe, #f68084);
}

.item-4 {
  background: linear-gradient(45deg, #d4fc79, #96e6a1);
}

.item-5 {
  background: linear-gradient(45deg, #43e97b, #38f9d7);
}

.item-6 {
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}

.item-7 {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.item-8 {
  background: linear-gradient(45deg, #e1eec3, #f05053);
}


.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
}

.navigation li {
  list-style-type: none;
}

.navigation li a {
  display: block;
  min-width: 240px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}


